.robotoFont {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.dancingFont {
    font-family: 'Dancing Script', cursive;
}
.viodaFont {
    font-family: 'Viaoda Libre', cursive;
}
.oxaniumFont {
    font-family: 'Oxanium', cursive;
}
.satisfyFont {
    font-family: 'Satisfy', cursive;
}
.serifFont {
    font-family: 'PT Serif', serif;
}
.comfortFont {
    font-family: 'Comfortaa', cursive;
}